## Process data

## Libraries

In [10]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
import final_project.utils.paths as path
import janitor
import matplotlib.pyplot as plt
import pandas as pd

### Read data

In [12]:
input_covid_file = path.data_raw_dir("time_series_covid19_confirmed_global.csv")

In [13]:
covid_df = pd.read_csv(input_covid_file)
covid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 289 entries, 0 to 288
Columns: 1102 entries, Province/State to 1/23/23
dtypes: float64(2), int64(1098), object(2)
memory usage: 2.4+ MB

In [14]:
covid_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/14/23,1/15/23,1/16/23,1/17/23,1/18/23,1/19/23,1/20/23,1/21/23,1/22/23,1/23/23
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,207900,207900,207993,208009,208034,208062,208084,208084,208084,208097
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,334029,334037,334037,334064,334084,334084,334084,334097,334101,334101
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,271287,271287,271287,271292,271296,271307,271316,271328,271335,271346
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,47781,47781,47781,47781,47781,47820,47820,47820,47820,47820
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,105095,105095,105095,105095,105095,105095,105095,105095,105095,105095

### Process data

In [15]:
processed_df = (
    covid_df
    .select_columns(["Country/Region", "*/*/*"])
    .pivot_longer(
        index="Country/Region",
        names_to="date"
    )
    .transform_column("date", pd.to_datetime)
    .clean_names()
)

processed_df.head()

  country_region       date  value
0    Afghanistan 2020-01-22      0
1        Albania 2020-01-22      0
2        Algeria 2020-01-22      0
3        Andorra 2020-01-22      0
4         Angola 2020-01-22      0

### Save output data

In [16]:
output_covid_file = path.data_processed_dir("time_series_covid19_confirmed_global_processed.csv")

In [17]:
processed_df.to_csv(output_covid_file, index=False)